<div class="container">
<app-go-to-cart></app-go-to-cart>
<hr>

<div class="row">
  <div class="col-sm-4 text-center">
    <button class="btn btn-primary" (click)="itemSelected('Item 01')">Item 01</button>
  </div>
  <div class="col-sm-4 text-center" (click)="itemSelected('Item 02')">
    <button class="btn btn-primary">Item 02</button>
  </div>
  <div class="col-sm-4 text-center" (click)="itemSelected('Item 03')">
    <button class="btn btn-primary">Item 03</button>
  </div>
</div>

<hr>
<app-add-to-cart item={{selected}} (itemAdded)="itemAdded()"></app-add-to-cart>
</div>